<select name="data.attributemod" value="{{attributeMod}}">
    {{#select attributeMod}}
        <option value="">-none-</option>
        {{#each attributesMap as |label key|}}
            <option value="{{key}}">{{label}}</option>
        {{/each}}
    {{/select}}
</select>