@import url("https://use.typekit.net/wfe5yoo.css");

.chat-message {
  font-family: alverata, Signika, sans-serif;

  .message-header {
    font-family: alverata-informal;
  }

  h2 {
    font-weight: 700;
    font-family: alverata-irregular;
  }

}


.kult4ng.sheet {
  .window-content {
    background-image: url("/systems/kult4ng/images/paper.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
  }
}

.kult4ng {
  font-family: alverata-irregular, Signika, sans-serif;

  input {
    font-family: rock-salt-pro, sans-serif;
  }

  a:hover {
    text-shadow: 0 0 8px dimgray;
  }

  input:focus {
    box-shadow: 0 0 8px dimgray;
  }

  .move-roll {
    font-family: rock-salt-pro, sans-serif;
  }

  .darksecret-info {
    font-family: rock-salt-pro, sans-serif;
  }

  .attribute-box {
    width: 280px;
    height: 490px;
    background-image: url("/systems/kult4ng/images/AttributesTree.svg");
    background-repeat: no-repeat;
    background-position: top left;
    margin: 10px;
    position: relative;

    a {
      margin: 0px;
      display: block;
    }

    input[type="number"] {
      width: 25px;
      height: 25px;
      align-content: center;
      text-align: center;
      border: none;
      font-family: rock-salt-pro, sans-serif;
      font-size: 10pt;
      background: none;
    }

    div {
      position: absolute;
      text-align: center;
    }

    .attribute-roll {
      font-family: alverata-irregular, serif;
      font-size: 10pt;
      font-weight: bold;
    }

    .basic-move-roll {
      font-family: alverata, serif;
      font-size: 9pt;
      font-style: italic;
    }

    .willpower {
      left: 128px;
      top: 18px;
    }

    .willpower-links {
      left: 97px;
      top: 61px;
    }

    .fortitude {
      left: 38px;
      top: 93px;
    }

    .fortitude-links {
      left: 15px;
      top: 136px;
    }

    .reflexes {
      left: 218px;
      top: 93px;
    }

    .reflexes-links {
      left: 199px;
      top: 136px;
    }

    .reason {
      left: 38px;
      top: 190px;
    }

    .reason-links {
      left: 21px;
      top: 230px;
    }

    .intuition {
      left: 218px;
      top: 190px;
    }

    .intuition-links {
      left: 194px;
      top: 230px;
    }

    .perception {
      left: 130px;
      top: 237px;
    }

    .perception-links {
      left: 87px;
      top: 273px;
    }

    .coolness {
      left: 38px;
      top: 280px;
    }

    .coolness-links {
      left: 1px;
      top: 320px;
    }

    .charisma {
      left: 128px;
      top: 335px;
    }

    .charisma-links {
      left: 100px;
      top: 375px;
    }

    .violence {
      left: 218px;
      top: 280px;
    }

    .violence-links {
      left: 181px;
      top: 320px;
    }

    .soul {
      left: 128px;
      top: 425px;
    }

    .soul-links {
      left: 78px;
      top: 465px;
    }

  }

  .advantage-box {
    width: 60%;
    padding: 5px;
    vertical-align: top;
  }

  .move-info {
    input {
      width: 30px;

    }
  }

  .section-label {
    font-size: large;
    font-weight: bold;
  }

  .section-value {
    font-size: large;
  }

  .item-list {
    padding-bottom: 10px;
  }

  .move-card {
    padding: 4px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    break-inside: avoid;
  }

  .darksecret-card {
    padding: 4px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    break-inside: avoid;
  }

  .bottom-section .move-list {
    column-count: 3;
  }

  .item-control {
    float: right;
  }

  .fas {
    margin-left: 3px;
    margin-right: 3px;
  }

  .weapon-column {
    display: inline-block;
    width: 20%;
  }

  .darksecret-box {

  }

  .roll-success {
    color: darkslateblue;
  }

  .roll-partial-success {
    color: dimgray;
  }

  .roll-failure {
    color: firebrick;
  }


}