<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <td>Attribute:</td>
                <td>
                    {{> "systems/kult4ng/templates/partials/attributeSelect.hbs" attributeData }}
                </td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><select name="data.type" value="{{data.type}}">
                    <option selected="selected" value="{{data.type}}">{{data.type}}</option>
                    <option value="active">Active</option>
                    <option value="passive">Passive</option></td>
                <td>Effect:</td>
                <td><input name="data.effect" type="text" value="{{data.effect}}"></td>
            </tr>
            <tr>
                <td>15+:</td>
                <td><input name="data.completesuccess" class="description-box" type="textarea"
                           value="{{data.completesuccess}}"></td>
            </tr>
            <tr>
                <td>10-14:</td>
                <td><input name="data.partialsuccess" class="description-box" type="textarea"
                           value="{{data.partialsuccess}}"></td>
            </tr>
            <tr>
                <td>0-9</td>
                <td><input name="data.failure" class="description-box" type="textarea" value="{{data.failure}}"></td>
            </tr>

        </table>

    </div>
</form>