<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="darksecret-box">
        <h2>Description</h2>
        <textarea name="data.description">{{data.description}}</textarea>
        <h2>Effect</h2>
        <textarea name="data.effect">{{data.effect}}</textarea>
    </div>
</form>