<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </header>
    <div class="roll-types">
        <div>Forward: <input class="forward" name="data.forward" type="text" value="{{data.forward}}"
                             data-dtype="Number"></div>
        <div>Situational Modifier:<input class="sitmod" name="data.sitmod" type="text" value="{{data.sitmod}}"
                                         data-dtype="Number"></div>

    </div>
    <div class="top-menu">
        <table>
            <tr>
                <td>
                    <div class="attribute-box">
                        <div class="willpower">
                            <input name="data.attributes.willpower" type="number"
                                    value="{{data.attributes.willpower}}">
                        </div>
                        <div class="willpower-links">
                            <a class="attribute-roll" data-type="willpower">Willpower</a>
                            <a class="basic-move-roll" data-type="keep-it-together">Keep it Together</a>
                        </div>

                        <div class="fortitude">
                            <input name="data.attributes.fortitude" type="number" value="{{data.attributes.fortitude}}">
                        </div>
                        <div class="fortitude-links">
                            <a class="attribute-roll" data-type="fortitude">Fortitude</a>
                            <a class="basic-move-roll" data-type="endure-injury">Endure Injury</a>
                        </div>
                        <div class="reflexes">
                            <input name="data.attributes.reflexes" type="number" value="{{data.attributes.reflexes}}">
                        </div>
                        <div class="reflexes-links">
                            <a class="attribute-roll" data-type="reflexes">Reflexes</a>
                            <a class="basic-move-roll" data-type="avoid-harm">Avoid Harm</a>
                        </div>
                        <div class="reason">
                            <input name="data.attributes.reason" type="number" value="{{data.attributes.reason}}">
                        </div>
                        <div class="reason-links">
                            <a class="attribute-roll" data-type="reason">Reason</a>
                            <a class="basic-move-roll" data-type="investigate">Investigate</a>
                        </div>
                        <div class="intuition">
                            <input name="data.attributes.intuition" type="number" value="{{data.attributes.intuition}}">
                        </div>
                        <div class="intuition-links">
                            <a class="attribute-roll" data-type="intuition">Intuition</a>
                            <a class="basic-move-roll" data-type="read-a-person">Read a Person</a>
                        </div>
                        <div class="perception">
                            <input name="data.attributes.perception" type="number"
                                   value="{{data.attributes.perception}}">
                        </div>
                        <div class="perception-links">
                            <a class="attribute-roll" data-type="perception">Perception</a>
                            <a class="basic-move-roll" data-type="observe-a-situation">Observe a Situation</a>
                        </div>
                        <div class="coolness">
                            <input name="data.attributes.coolness" type="number" value="{{data.attributes.coolness}}">
                        </div>
                        <div class="coolness-links">
                            <a class="attribute-roll" data-type="coolness">Coolness</a>
                            <a class="basic-move-roll" data-type="act-under-pressure">Act Under Pressure</a>
                        </div>
                        <div class="violence">
                            <input name="data.attributes.violence" type="number" value="{{data.attributes.violence}}">
                        </div>
                        <div class="violence-links">
                            <a class="attribute-roll" data-type="violence">Violence</a>
                            <a class="basic-move-roll" data-type="engage-in-combat">Engage in Combat</a>
                        </div>
                        <div class="charisma">
                            <input name="data.attributes.charisma" type="number" value="{{data.attributes.charisma}}">
                        </div>
                        <div class="charisma-links">
                            <a class="attribute-roll" data-type="charisma">Charisma</a>
                            <a class="basic-move-roll" data-type="influence-other">Influence Other</a>
                        </div>
                        <div class="soul">
                            <input name="data.attributes.soul" type="number" value="{{data.attributes.soul}}">
                        </div>
                        <div class="soul-links">
                            <a class="attribute-roll" data-type="soul">Soul</a>
                            <a class="basic-move-roll" data-type="see-through-illusion">See through the Illusion</a>
                        </div>
                    </div>
                </td>
                <td class="advantage-box">
                    <div>
                        <label class="section-label">Dark Secrets</label>
                        <a class="item-control item-create" data-type="darksecret"><i class="fas fa-plus"></i></a>
                    </div>

                    <div class=" item-list darksecret-list">
                        {{#each moves as |move id|}}
                            {{#if (eq move.type "darksecret")}}
                                {{> "systems/kult4ng/templates/partials/darksecret-card.hbs" move}}
                            {{/if}}
                        {{/each}}

                    </div>
                    <div>
                        <label class="section-label">Advantages</label>
                        <a class="item-control item-create" data-type="advantage"><i class="fas fa-plus"></i></a>
                    </div>

                    <div class="item-list advantage-list">
                        {{#each moves as |move id|}}
                            {{#if (eq move.type "advantage")}}
                                {{> "systems/kult4ng/templates/partials/move-card.hbs" move}}
                            {{/if}}
                        {{/each}}

                    </div>
                    <div>
                        <label class="section-label">Disadvantages</label>
                        <a class="item-control item-create" data-type="disadvantage"><i class="fas fa-plus"></i></a>
                    </div>

                    <div class="item-list disadvantage-list">
                        {{#each moves as |move id|}}
                            {{#if (eq move.type "disadvantage")}}
                                {{> "systems/kult4ng/templates/partials/move-card.hbs" move}}
                            {{/if}}
                        {{/each}}

                    </div>

                    <div>
                        <label class="section-label">Relationships</label>
                        <a class="item-control item-create" data-type="relationship"><i class="fas fa-plus"></i></a>
                    </div>

                    <div class="item-list relationship-list">
                        {{#each moves as |move id|}}
                            {{#if (eq move.type "relationship")}}
                                {{> "systems/kult4ng/templates/partials/relationship-card.hbs" move}}
                            {{/if}}
                        {{/each}}

                    </div>
                </td>
            </tr>
        </table>
        <div class="bottom-section">
            <div class="move-section">
                <div class="section-label">Moves</div>
                <div class="item-list move-list">
                    {{#each moves as |move id|}}
                        {{#if (eq move.type "move")}}
                            {{> "systems/kult4ng/templates/partials/move-card.hbs" move}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="footer">
                <div class="stability-section" float="right">
                    <div>
                        <label class="section-label">Stability:</label>
                        <span class="section-value">{{data.stability.name}}</span>
                        <a class="item-control item-modify" data-type="stability" data-value="-1"><i
                                class="fas fa-minus"></i></a>
                        <a class="item-control item-modify" data-type="stability" data-value="1"><i
                                class="fas fa-plus"></i></a>
                    </div>
                    <div class="weapon-section">
                        <div class="section-label">Weapons</div>

                        <div class=" item-list weapon-list">
                            {{#each moves as |move id|}}
                                {{#if (eq move.type "weapon")}}
                                    {{> "systems/kult4ng/templates/partials/weapon-card.hbs" move}}
                                {{/if}}
                            {{/each}}

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</form>